
@{
    ViewBag.Title = "Trichy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trichy</h2> 
<div class="row">
    <div class="col-md-4">
        <h2>Srirangam</h2>
        <form>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" /> </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Aadharnumber: </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Licensenumber: </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Amount </td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> <input type="submit" /></td>
                </tr>
            </table>
        </form>
    </div>


    <br />
    <div class="col-md-4">

        <h2>Manapparai</h2>
        <form>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" /> </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Aadharnumber: </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Licensenumber: </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Amount </td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> <input type="submit" /></td>
                </tr>
            </table>
        </form>
    </div>

    <br />
    <div class="col-md-4">

        <h2>Lalgudi</h2>
        <form>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" /> </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Aadharnumber: </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Licensenumber: </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Amount </td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> <input type="submit" /></td>
                </tr>
            </table>
        </form>
    </div>


    <br />
    <div class="col-md-4">

        <h2>Thuraiyur</h2>
        <form>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" /> </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Aadharnumber: </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Licensenumber: </td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> Amount </td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>

                    <td> <input type="submit" /></td>
                </tr>
            </table>
        </form>
    </div>




</div>     


<div>
    @Html.ActionLink("Back to Homepage", "Index")
</div>

